* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff
}

h1 {
  font-size: 38px;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 40px 80px 0 80px;
  background-image: linear-gradient(-90deg, #27274D, #643488);
}

header div {
  margin: auto;
  margin-left: 0;
}

nav ul {
  display: flex;
}

nav ul li {
  padding: 0 20px;
  list-style: none;
  font-size: 20px; 
}

a{
  text-decoration:none;
  color: white;
}

#inicio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 500px;
  padding: 30px 80px;
  background-image: linear-gradient(-90deg, #27274D, #643488);
}

#inicio div {
  width: 700px;
  padding-right: 80px;
}

#inicio div p {
  margin-top: 20px;
  font-size: 20px;
}

#inicio div button {
  width: 150px;
  height: 50px;
  border-radius: 90px;
  border: none;
  margin: 20px 0;
  font-size: 20px;
  font-weight: 600;
  background: #C14649;
  color: #fff
}

#inicio div button:hover {
  background: rgb(219, 90, 92);
}

#sobre {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 350px;
  background: #fff;
}

#sobre div {
  width: 300px;
}

#sobre div h1 {
  margin: 10px 0;
  font-size: 30px;
  color: #2A2850;
}

#sobre div p {
  color: #2A2850;
}

#sobre div img {
  width: 100px;
  height: 100px;
}

#cursos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 650px;
  background-image: linear-gradient(-90deg, #27274D, #643488);
  padding: 0 30px;
}

#cursos div {
  text-align: center;
}

#cursos div h1 {
  margin-bottom: 40px;
}

#cursos form {
  width: 350px;
  color: #2A2850;
  background: #fff;
  padding: 40px;
  border-radius: 15px;
  font-size: 18px;
}

#cursos form input {
  width: 270px;
  margin: 10px 0;
  padding: 9px;
  background: #fff;
  border: solid 1px #2A2850;
  font-size: 14px;
}

#cursos form button {
  background: #2A2850;
  width: 270px;
  height: 55px;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  border-radius: 50px;
}

#cursos form button:hover {
  background: rgb(62, 59, 114); 
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  background: #fff;
  color: #2A2850;
  font-size: 20px;
}

@media (max-width: 500px) {
  #inicio img {
      display: none;
  }
}

@media (max-width: 200px) {
  header {
      padding: 40px 40px 0 40px;
  }

  nav ul li {
      padding: 0 10px;
      list-style: none;
      font-size: 18px; 
  }

  #inicio {
      padding: 10px 40px;
  }

  #inicio div {
      padding-right: 0px;
  }

  #inicio img {
      display: none;
  }

  #sobre {
      display: flex;
      flex-direction: column;
      height: 800px;
      padding: 40px 0;
  }

  #cursos div {
      display: none;
  }
} 


